@font-face {
	font-family: Museo;
	src: url("http://s.cdpn.io/26175/Museo300-Regular.otf") format("opentype");
}

body { 
  background-image:-webkit-radial-gradient(#222, #444);; 
  height: 100%;
  padding-top: 70px;
}

.neon {
  text-align: center;
  /*margin: 200px auto;*/
  font-family: "Museo";
  text-transform: uppercase;
  color: #fff;
  -webkit-animation:pulse 1.5s ease-in-out infinite alternate;
  -webkit-backface-visibility: hidden;
}

#coverPage {
  font-size: 72pt;
}

.profile-pic {
  height: 200px;
  width: 200px;
}

#mapDisplay {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

@-webkit-keyframes pulse {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #ff00de,
               0 0 70px #ff00de,
               0 0 80px #ff00de,
               0 0 100px #ff00de,
               0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ff00de,
               0 0 35px #ff00de,
               0 0 40px #ff00de,
               0 0 50px #ff00de,
               0 0 75px #ff00de;
  }
}